#root {
  min-height: 100vh;
}

.wrapperHome {
  border: 4px solid #f7f7f9;
  margin: 50px auto;
  padding: 30px 0;
}

.workoutsInputs {
  display: flex;
  justify-content: space-between;
}

.btn.mygreen {
  background: #13dd5a;
  color: #fff;
  opacity: .8;
  font-size: 16px;
  display: flex;
  width: 100%;
  max-width: 38px;
  justify-content: center;
}

.btn.mygreen:hover {
  color: #fff;
  opacity: 1;
}

.btn.mygreen:focus {
  background: #fff;
  color: #13dd5a;
}

.btn.myblue {
  background: #1352dd;
  color: #fff;
  opacity: .8;
  font-size: 16px;
  display: flex;
  width: 100%;
  max-width: 38px;
  justify-content: center;
}

.btn.myblue:hover {
  color: #fff;
  opacity: 1;
}

.btn.myblue:focus {
  background: #fff;
  color: #13dd5a;
}

@media screen and (max-width: 768px) {
  .mobileMenu {
    display: flex;
    width: 280px;
    height: 100vh;
    background: #363a3e;
    color: #fff;
    top: 0;
    position: fixed;
    z-index: 999;
  }
}
